SQLALCHEMY_DATABASE_URL = sqlite:///./execarray_store.db
API_BASE_URL = http://0.0.0.0:8000
COMPANY_URL = https://google.com
STATIC_DIR
MISFIRE_GRACE_TIME = 60
MAIL_USERNAME = a9f521690f65a4
MAIL_PASSWORD = 11480b2eec8121
MAIL_FROM = "elisegb-49cabc@inbox.mailtrap.io"
MAIL_PORT = 2525
MAIL_SERVER = smtp.mailtrap.io
MAIL_FROM_NAME="jamie grace"
MAIL_TLS = False
MAIL_SSL = False
USER_CREDENTIALS = True
SECRET_KEY = XH0YwXLby9Wm8u7XmHxb4RRKdzkFsYBmh3Rkj8kAv2onox0KcrJWm3VQXTbsCjosSQixOeEApeLeJynxm8eMoVQQF3vhi2TKdYhQjpCfWudWbnQfn9TvAID41Pn2hvrq
ALGORITHM = HS256